In [36]:
import pandas as pd 
import numpy
import csv
from IPython.display import display, HTML
import matplotlib as plt
# from tabulate import tabulate
# import matplotlib.pyplot as plt


# create dataframes 
def createdataframes(season) :
    # header_list = ["short_name", "nationality", "club", "overall", "potential", "player_positions", "preferred_foot", "skill_moves", "work_rate", "player_tags", "pace", "shooting", "passing", "dribbling", "defending", "physic", "player_traits"]
    file = 'players_'+str(season)+'_test.csv'
    df = pd.read_csv(file)
    df = pd.DataFrame(df)
    return df


df18 = createdataframes(18)
df19 = createdataframes(19)
df20 = createdataframes(20)

ImportError: cannot import name '_path' from 'matplotlib' (/usr/lib/python3/dist-packages/matplotlib/__init__.py)

In [13]:
df18.head(10)
#short_name ///// pace	shooting	passing	dribbling	defending	physic	

"short_name","pace","shooting","passing","dribbling","defending","physic"
# grand data 15 ( 5 colonnes depuis chaque df )
df18_new = df18[["short_name","pace","shooting","passing","dribbling","defending","physic"]]
df19_new = df19[["short_name","pace","shooting","passing","dribbling","defending","physic"]]
df20_new = df20[["short_name","pace","shooting","passing","dribbling","defending","physic"]]
# pareil 19 20 avec rename column

In [15]:
df18_new.columns = ['short_name', 'pace18', 'shooting18', 'passing18', 'dribbling18', 'defending18','physic18']
df19_new.columns = ['short_name', 'pace19', 'shooting19', 'passing19', 'dribbling19', 'defending19','physic19']
df20_new.columns = ['short_name', 'pace20', 'shooting20', 'passing20', 'dribbling20', 'defending20','physic20']

In [16]:
df18_new 
df19_new 
df20_new

,short_name,pace20,shooting20,passing20,dribbling20,defending20,physic20
0,L. Messi,87.0,92.0,92.0,96.0,39.0,66.0
1,Cristiano Ronaldo,90.0,93.0,82.0,89.0,35.0,78.0
2,Neymar Jr,91.0,85.0,87.0,95.0,32.0,58.0
3,J. Oblak,NaN,NaN,NaN,NaN,NaN,NaN
4,E. Hazard,91.0,83.0,86.0,94.0,35.0,66.0
...,...,...,...,...,...,...,...
18273,Shao Shuai,57.0,23.0,28.0,33.0,47.0,51.0
18274,Xiao Mingjie,58.0,24.0,33.0,35.0,48.0,48.0
18275,Zhang Wei,54.0,35.0,44.0,45.0,48.0,51.0
18276,Wang Haijian,59.0,35.0,47.0,47.0,45.0,52.0
18277,Pan Ximing,60.0,32.0,51.0,45.0,47.0,55.0

In [27]:
df_evolution = pd.merge(df18_new, df19_new, on='short_name').merge(df20_new, on='short_name')

df_evolution[["pace18", "pace19", "pace20"]]

       pace18  pace19  pace20
0        90.0    90.0    90.0
1        89.0    88.0    87.0
2         NaN     NaN     NaN
3        82.0    80.0    73.0
4        82.0    80.0    65.0
...       ...     ...     ...
18664    54.0    50.0    50.0
18665    54.0    50.0    57.0
18666    59.0    57.0    56.0
18667    53.0    52.0    45.0
18668    70.0    73.0    81.0

[18669 rows x 3 columns]

In [23]:
x = np.array([18, 19, 20])
y = df_evolution[["pace18", "pace19", "pace20"]]
plt.plot(x, y)

plt.show()

NameError: name 'np' is not defined

In [34]:
df_evolution[df_evolution['short_name']== "Cristiano Ronaldo"][["pace18", "pace19", "pace20"]].plt.pyplot.bar()

AttributeError: 'DataFrame' object has no attribute 'plt'

In [35]:
import matplotlib.pyplot as plt
fig = plt.figure()
ax = fig.add_axes([0,0,1,1])
langs = ['C', 'C++', 'Java', 'Python', 'PHP']
students = [23,17,35,29,12]
ax.bar(langs,students)
plt.show()

ImportError: cannot import name '_path' from 'matplotlib' (/usr/lib/python3/dist-packages/matplotlib/__init__.py)